:root {
	--looks-col: #311267;
	--events-col: #755b00;
	--operators-col: #255715;
	--data-col: #703800;

	--flag-col: #40972c;
	--flag-outline: #255e0d;
}

body.light {
	--looks-col: #9b60ff;
	--events-col: #f5c000;
	--operators-col: #69c14e;
	--data-col: #ff8c1a;

	--flag-col: #60c04b;
	--flag-outline: #529a32;
}

.block {
	display: inline-flex;
	align-items: center;
	padding: 2px;
	padding-left: 6px;
	border-radius: 40px;
	margin: 0;
	font-size: 0.8rem;
	color: var(--text-col);
	border: 1px solid #00000020;
	font-family: Arial, Helvetica, sans-serif;
	width: fit-content;
	pointer-events: none;
	-webkit-user-select: none;
	user-select: none;

	transition: 300ms ease;
}

.block * {
	font-family: inherit;
}

.stack {
	display: flex;
	flex-direction: column;
}

.dropdown {
	margin: 0 6px 0 12px;
	min-width: 40px;
	padding: 4px;
	border: 1px solid #00000020;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown::after {
	content: "\25BC";
	font-size: 0.5rem;
	margin-left: 4px;
	top: calc(50% - 0.25rem);
}

.block.hat {
	background: var(--events-col);
	border-radius: 10px 10px 4px 4px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 6px;
	padding-right: 6px;
	margin: 0;
}

.block.hat.flag {
	color: var(--flag-col);
	font-family: "Font Awesome 7 Free";
	font-weight: 900; /* REQUIRED FOR FA SOLID */
	-webkit-text-stroke: 1px var(--flag-outline);
}

.block.hat.flag::before {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	content: "when ";
	color: var(--text-col);
	margin-right: 0.5rem;
	-webkit-text-stroke: 0;
}

.block.hat.flag::after {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	content: " clicked";
	color: var(--text-col);
	margin-left: 0.5rem;
	-webkit-text-stroke: 0;
}

.block.say {
	background: var(--looks-col);
	border-radius: 4px;
	width: fit-content;
}

.block.say > .input,
.block.data > .input {
	margin: 4px;
	margin-left: 8px;
}

.block.say > .operator,
.block.data > .operator {
	margin: 0;
	margin-left: 8px;
}

.block.data {
	background: var(--data-col);
	border-radius: 4px;
	margin: 0;
	width: fit-content;
}

.block.operator {
	background: var(--operators-col); /* Scratch green */
	padding: 2px;
	border: 1px solid #00000020;
	display: flex;
	gap: 4px;
	margin: 0;
}

.block.number {
	background: var(--bg-col);
	color: var(--text-col);
	border: 1px solid hsl(from var(--text-col) h s l / 0.2);
	border-radius: 15px;
	padding: 4px 10px;
	margin: 0;
}

.block.input {
	margin: 0;
}

.block.unknown {
	background: #999;
	font-style: italic;
}
