:root {
	--looks-col: #1f005c;
	--events-col: #765900;
	--operators-col: #004200;
	--data-col: #703800;
	--flag-col: #8fff8f;
}

body.light {
	--looks-col: #9966ff;
	--events-col: #ffbf00;
	--operators-col: #59c059;
	--data-col: #ff8c1a;
	--flag-col: #004200;
}

.block {
	display: inline-flex;
	align-items: center;
	padding: 1px;
	padding-left: 6px;
	border-radius: 40px;
	margin: 4px;
	font-size: 0.8rem;
	color: var(--text-col);
	border: 2px solid #00000020;
	font-family: Arial, Helvetica, sans-serif;
	width: fit-content;

	transition: 300ms ease;
}

.block * {
	font-family: Arial, Helvetica, sans-serif;
}

.stack {
	display: flex;
	flex-direction: column;
}

.dropdown {
	margin: 0 12px;
	min-width: 32px;
	padding: 4px;
	padding-right: 16px;
	position: relative;
	border: 1px solid #00000020;
}

.dropdown::after {
	content: "\25BC";
	font-size: 0.5rem;
	position: absolute;
	right: 4px;
	top: calc(50% - 0.25rem);
}

.block.hat {
	background: var(--events-col);
	border-radius: 10px 10px 6px 6px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 6px;
	padding-right: 6px;
	margin: 0;
}

.block.hat.flag {
	color: var(--flag-col);
	font-family: "Font Awesome 7 Free";
	font-weight: 900; /* REQUIRED FOR FA SOLID */
}

.block.hat.flag::before {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	content: "when ";
	color: var(--text-col);
	margin-right: 0.5rem;
}

.block.hat.flag::after {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	content: " clicked";
	color: var(--text-col);
	margin-left: 0.5rem;
}

.block.say {
	background: var(--looks-col);
	border-radius: 4px;
	margin: 0;
	width: fit-content;
}

.block.data {
	background: var(--data-col);
	border-radius: 4px;
	margin: 0;
	width: fit-content;
}

.block.operator {
	background: var(--operators-col); /* Scratch green */
	padding-left: 1px;
	border: 1px solid #00000020;
}

.block.number {
	background: var(--secondary-col);
	color: var(--text-col);
	border: 1px solid hsl(from var(--text-col) h s l / 0.2);
	border-radius: 10px;
	padding: 3px 9px;
}

.block.input {
	margin: 0;
}

.block.unknown {
	background: #999;
	font-style: italic;
}
